!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Bybro'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Bybro'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        = render 'layouts/messages'
        = yield

  %footer
    .container
      .row
        .col-lg-12
          %ul.list-inline
            %li
              %a{:href => "#"} Home
            %li.footer-menu-divider &sdot;
            %li
              %a{:href => "#about"} About
          %p.copyright.text-muted.small Copyleft &copy; Bybro 2016.

  = javascript_include_tag 'application'
